@CHARSET "UTF-8";

.col-md-2, .col-md-4, .col-md-6, .col-md-8, .col-md-10, .col-md-12 {
	padding-left: 0;
	padding-right:0;
}

.panel {
	border-color: #0779bf;
}

.panel > .panel-heading {
	background-color: #0779bf;
	color: #ffffff;
	font-weight: bold;
}

.row {
	margin: 5px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.icon {
	width: 32px;
	height: 32px;
	cursor: pointer;
}